* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

button {
  padding: 10px 20px;
}

.container {
  width: 642px;
  height: 642px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button.active {
  border-color: blueviolet;
}